<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <script src="/public/js/register.js"></script>
</head>
<body>
  {{!-- {{#if showHeader}}
    <header class="navbar">
      <div class="logo">
        <a href="/"><img src="/public/images/health_hive_logo.png" alt="Health Hive Logo" width="120" height="auto"></a>
      </div>
      <nav class="nav-links">
        <a href="/login">Login</a>
        <a href="/register">Sign Up</a>
      </nav>
    </header>
  {{/if}} --}}

  <main class="main-content">
    {{{body}}}
  </main>
</body>
</html>
